html, body {
    margin: 0;
    height: 100%;
    font-size: 100%;
    }
    
    * {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    }
    #top-nav ul { list-style-type: none; }
#top-nav ul li { float: left; }
#top-nav ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;      /* padding above and below a
                            elements */
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white; }
#top-nav ul li a.lastitem { border-right: none; }	
#top-nav ul li a.current { color: yellow; }
    
