html{
    background-image: linear-gradient(to right, lightblue, white 100%);

}
#nav_news ul { list-style-type: none; }
#nav_news ul li { float: left; }
#nav_news ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;      /* padding above and below a
                            elements */
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white; }
#nav_news ul li a.lastitem { border-right: none; }	
#nav_news ul li a.current { color: yellow; }

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 95%;
	background-color: white;
	margin: 15px auto;
	padding: 15px 1.5em;
	border: 1px solid black;
	border-radius: 25px;
	box-shadow: 5px 5px 0 0;
}

article {
	clear: both;
    width: 75%;
    float: left;
    column-count: 3;
    column-rule: 3px dotted blue;
    column-gap: 2em;
    margin-left: 2em; 
}

header {
	padding-bottom: 2em;
    border-bottom: 3px solid blue
}
header h1{
    font-size: 130%;
    color: blue;
    left: 0;
}
article h2{
    font-size: 130%;
    color: blue;
}
article img{
    float: left;
    padding: 1em 0;
}
article p{
    text-align: left;
}
article p::first-letter {
	font-size: 3em;
	font-weight: bold;
    font-style: italic;
}
aside {
	width: 20%;
	padding: 0.1em 1em 1em;
	background-color: lightblue;
    position: fixed;
    right: 0;
    top: 200px;
    border:  10px;
    border-style: solid;
}
aside ol{
    list-style: upper-roman;
}
aside ul{
    list-style: square;
}
footer {
	clear: both;
	border-top: solid 3px;
    color: blue;
}
footer p.copyright {
	text-align: center;
	font-size: 80%;
}